Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentCaseLabels: false
IndentPPDirectives: None
NamespaceIndentation: None
BreakBeforeBraces: Allman
ColumnLimit: 180
BinPackArguments: true
BinPackParameters: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: false
Cpp11BracedListStyle: true
SortIncludes: true
IncludeBlocks: Preserve
SpacesBeforeTrailingComments: 1
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
FixNamespaceComments: true
Standard: Latest